
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dynamically Add or Remove Table Row Using VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="profit.js"></script>

    
</head>

<body>
    
<div id="app">

    <tr v-for="(invoice_product, k) in invoice_products" :key="k">
        <td scope="row" class="trashIconContainer">
            <i class="far fa-trash-alt" @click="deleteRow(k, invoice_product)"></i>
        </td>
        <td>
            <input class="form-control" type="text" v-model="invoice_product.product_no" />
        </td>
        <td>
            <input class="form-control" type="text" v-model="invoice_product.product_name" />
        </td>
        <td>
            <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_price" @change="calculateLineTotal(invoice_product)"
            />
        </td>
        <td>
            <input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_qty" @change="calculateLineTotal(invoice_product)"
            />
        </td>
        <td>
            <input readonly class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.line_total" />
        </td>
    </tr>
    </div>

    <button type='button' class="btn btn-info" @click="addNewRow">
        <i class="fas fa-plus-circle"></i>
        Add
    </button>
    
    
</body>

</html>
